
.mapLoader{
  position: absolute;
  justify-self:center;
  align-self:center;
}

.available_country:hover{
  /*fill: orange;*/
    fill: orange !important;
    cursor: pointer;
}

#map path:hover{
  fill:#dadada;
}

.SamericaContainer {
    display: grid;
    height: 100%;
    justify-items: center;
}

        path.active{
          fill: orange;
          /*fill: #1babec;*/
        }
        .background {
          fill: none;
          pointer-events: all;
        }
        .feature {
          fill: #ccc;
          cursor: pointer;
        }

        /*.feature.active {
          fill: orange;
        }*/
        #map-holder {
          width: 100vw;
          height: 100vh;
        }

        .mesh {
          fill: none;
          stroke: #fff;
          stroke-linecap: round;
          stroke-linejoin: round;
        }

        #map-holder{
        position: relative;
        height: 100%;
        /*width: 100%;*/
        width: 100vw;
        max-width: 700px;
        overflow: hidden;
        display: grid;
        align-items: center;
        justify-items: center;
        }
