






/*SECTION FAQS*/

.FaqSection{
  position: relative;
  width: calc(70% - 50px);
  min-width: calc(1250px - 50px);
  padding: 30px 25px;
  background: white;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 150px;
  justify-items: center;
}

.FaqSection.landing{
  overflow: hidden;
  height: 100%;
  max-height: 600px;
  justify-self:center;
  color: #4c4c4c;
  /* height: calc(160vh - 60px); */
  /* box-shadow: 10px 10px 17px -13px rgba(0,0,0,0.2); */
  /* transform: translateY(-16vh); */
}

.seeMore{
  color: #1ea4ff;
  bottom: 20px;
  font-size: 17px;
  font-weight: bold;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  cursor: pointer;
  max-width: 300px;

}


.seeMore i{
  margin-left: 10px;
}

.seeMoreCont a{
  text-decoration: none;
}

.seeMoreCont{
  width: 100%;
  height: 100px;
  background: white;
  bottom: 0;
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: flex-end;
  padding: 0 0 40px 0;
  z-index: 3;
  background: linear-gradient(0deg, white, white, white, #ffffff00);
}


.FaqSection h1{
  text-align: center;
  display: grid;
  align-items: center;
  font-size: 22px;
}

.FaqContainer{
  cursor: pointer;
  position: relative;
}

.FaqContainer p, .FaqContainer h4{
  margin: 0;
  display: grid;
  align-items: center;
  height: 60px;
}



.FaqItem{
    transition: .3s;
    height: 0;
    overflow: hidden;
    padding: 0 35px;
    display: grid;
    align-items: center;
}

.FaqItem.active{
  height: 150px;
}

.FaqItem p{
  color: gray;
}

.Faq{
  width: 100%;
  max-width: 900px;
  margin-bottom: 120px;
}

.areaClickFaq{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  /*background: red;*/
}

.FaqItemText{
  opacity: 0;
  transition: .6s;
}

.FaqItemText.active{
  opacity: 1;
}

.titleCategoryFaq{
  font-weight: bold;
}

.titleCategoryFaq.active{
  color: #1ea4ff;
}

.titleFaqCont{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}


/*SECTION FAQS MORE ICON ANIMATION CLASS*/

.moreFaq{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: grid;
  position: relative;
  align-items: center;
}

.moreFaq span{
  position: absolute;
  width: 100%;
  height: 3px;
  background: #1ea4ff;
  transition: .3s;
  border-radius: 3px;
}

.wotS{
  /*background: red !important;*/

}

.moreFaq span:nth-child(2) {
  transform: rotate(90deg);
  z-index: 2;
}


.moreFaq.active span:nth-child(2) {
  transform: rotate(0deg);
  z-index: 2;
  opacity: 0;
}





































































@media only screen and (max-width: 768px) {

  .CurrencyList{
    grid-row-gap: 30px;
  }

  .layerPanel.countryList{
    position: relative;
  }

  .mobileTextSect p{
    font-size: 17px;
  }


  .sections.mobile{
    height: 750px !important;
  }


  .mobileTextSect{
    text-align: center;
  }


  .mobileImg{
    width: 80% !important;
    height: auto !important;
  }


  .LandingMobileSection {
      grid-template-columns: 1fr;
      grid-template-rows: 250px 1fr;
  }


  .currencyListItem.active{
    transform: scale(1) !important;
  }


  .sticyRigth{
    grid-template-rows: 70px 1fr;
  }


  .LayerStickyComponent{
    width: 100vw;
    padding: 0;
  }


  .LayerStickyComponent{
    grid-template-columns: 1fr;
  }

  .CurrencyCardList{
    overflow: hidden;
  }


  .sticyLeft.currencyList{
    display: none;
  }

  .socialGrid div {
    height: 100px;
    width: 130px;
  }


  .socialGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    justify-items:center;
    height: 100%;
    max-height: 400px;
  }

  .ArticleComponent{
    height: 200px;
    grid-template-rows: 35% 40px 1fr;
  }

  .ArticleBrand{
    width: 80px;
    height: 80px;
    top: -10px;
  }

  .publicRelations2, .publicRelationsPress, .publicSocialMedia {
    width: 100%;
    height: 90vh;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
}

  .contentRRPP2{
    grid-template-columns: 1fr;
  }

  .PublicRelationsContainer{
    grid-template-columns: 1fr;
  }


  .ArticleComponentContainer{
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
  }

  .contentRelationsPanel{
    display: none !important;
  }

  .sections.metrics{
    padding-top: 0 !important;
    height: 600px !important;
  }


  .extraSectionSlider{
    display: none;
  }



  .metricText{
   font-size: 35px !important;
  }


  .videoMenCItemTitle{
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
  }

  .videoMenCItems p{
    padding: 0 !important;
  }


  .videoMenCItem {
    height: calc(100% - 20px);
    padding: 10px 35px 10px 35px;
}


  .titleSections{
    padding: 0 10px !important;
    font-size: 22px !important;
  }

  .MetricsContent{
    padding: 20px 0;
    height: auto !important;
  }

  .brandPress{
    width: 100vw;
    overflow: hidden;
  }

  .brandPressCont{
    transform: scale(.7);
    grid-column-gap: 0px;
  }

  .contMetricStructure {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 30px;
  }

   .backgroundIMGmetric{
     display: none;
   }


  .FooterLogo{
    justify-self: center !important;
  }

  #QuoteCurrenciesLanding{
    width: 95% !important;
  }

  .FooterItem3 {
    justify-items: end;
    grid-template-rows: 70px 40px 40px;
}

  .FooterItem2 {
      justify-items: center;
      grid-template-rows: 70px 40px 40px;
  }

  .FooterItem1 {
    grid-template-rows: 70px 40px 40px;
  }

  .FooterItem{
    justify-items:center;
  }

  #LandingPageContainer{
    margin-bottom: 100vh !important;
  }

  #FooterLanding{
    height: 100vh !important;
  }

  .FooterContainer{
    grid-template-columns: 1fr !important;
  }

  .supportSections{
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 50px;
  }

  .HeaderLanding.support{
    height: calc(100% - 80px) !important;
    padding: 40px 0;
  }

  .supportImg{
    width: 90px;
    height: 90px;
  }

  .supportOption{
    height: 180px;
    grid-template-rows: 60px 1fr 1fr !important;
  }

  .supportSections{
    padding-top: 120px !important;
  }

  .supportSections h1{
    top:0 !important;
  }

  .FaqSection{
    min-width: auto !important;
    width: calc(100% - 50px);
  }

  .FaqContainer p, .FaqContainer h4{
    height: 90px;
  }

  .FaqContainer p{
    align-self: center !important;
    height: auto !important;
  }

  .FaqItem.active{
    height: 220px !important;
  }


  .Faq{
    margin-bottom: 80px;
  }

  .FaqSection{
    grid-template-rows: 100px !important;
  }

}













































/**/
